@model IEnumerable<ProductsStore.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2 style="color:#245980"><b>Users Of The Store</b></h2>

<div style="margin-top:40px;margin-bottom:20px;">
    @using (Html.BeginForm("Search", "Users", FormMethod.Post, new { id = "formSearch" }))
    {
        <div class="form-inline">
            <div class="form-group">
                <label>By User first or last name:</label>
                <input type="text" class="form-control" name="txtName">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-striped" style="background-color:#bdeec4;">Search</button>
            </div>
        </div>
    }
</div>

<p style="margin-top:40px;margin-bottom:20px;">
    @Html.ActionLink(" ", "Create", null, null, new { @class = "glyphicon glyphicon-plus btn btn-primary", @title = "Add User" })
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr style="background-color:#84acc9;">
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthDate)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthDate)
            </td>
            <td>
                @Html.ActionLink("", "Edit", null, new { id = item.ID }, new { @class = " glyphicon glyphicon-pencil btn btn-default", @title = "Edit User" })
                @Html.ActionLink("", "Details", null, new { id = item.ID }, new { @class = " glyphicon glyphicon-list-alt btn btn-default", @title = "Details Of The User" })
                @Html.ActionLink("", "Delete", null, new { id = item.ID }, new { @class = " glyphicon glyphicon-trash btn btn-default", @title = "Delete User" })
            </td>
        </tr>
}
    </tbody>
</table>
