@model ProductsStore.Models.Checkout
@{
    ViewBag.Title = "Checkout";
    
}

<h2>Checkout</h2>

@if ((ViewBag.IsError != null) && ViewBag.IsError)
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Card CountOfProducts is not Valid.
    </div>
}
@if ((ViewBag.CardExpiresError != null) && ViewBag.CardExpiresError)
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> This Card has already expired.
    </div>
}

@using (Html.BeginForm("CheckOut", "Products"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Checkout</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CreditCard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCard, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Month, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Checkout" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<form name="sentMessage" id="contactForm" novalidate="">
    <div class="controls">

        <asp:TextBox ID="txtCreditCardCountOfProducts" runat="server" CssClass="form-control"></asp:TextBox>


        
        <asp:TextBox ID="txtCvv" runat="server" CssClass="form-control"></asp:TextBox>
        <div class="row">
            <div class="col-sm-6">

                <asp:TextBox ID="txtMonth" runat="server" CssClass="form-control"></asp:TextBox>
            </div>
            <div class="col-sm-6">

                <asp:TextBox ID="txtYear" runat="server" CssClass="form-control"></asp:TextBox>
            </div>
        </div>
        <div class="help-block">
        </div>
    </div>
    <!-- For success/fail messages -->
    <asp:Button ID="btnCheckout" runat="server" Text="Check out now" CssClass="btn btn-primary" OnClick="btnCheckout_Click" />
    <a href="Home.aspx">Continue shopping</a>
</form>

