@model IEnumerable<ProductsStore.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2 style="color:#245980"><b>Store Products</b></h2>

@*<div style="margin-top:40px;margin-bottom:20px;">
    @using (Html.BeginForm("Search", "Home"))
    {
        <div class="form-inline">
            <div class="form-group">
                <label>By name:</label>
                <input type="text" class="form-control" name="txtName">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-striped" style="background-color:#bdeec4">Search</button>
            </div>
        </div>

    }
</div>*@
<p style="margin-top:40px;margin-bottom:20px;">
    @Html.ActionLink(" ", "Create", null, null, new { @class = "glyphicon glyphicon-plus btn btn-primary", @title = "Add Product To Store" })
</p>
<table class="table table-responsive table-hover table-striped" style="border-radius:inherit">
    <tr style="background-color:#84acc9;">
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model.image)
        </th>

        <th style="width:20%;"> Operations</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td style="width:20%">
                <img src="@Html.DisplayFor(modelItem => item.image)" style="width:50px;height:50px;" alt="Alternate Text" />
            </td>
            <td style="width:20%">
                @Html.ActionLink("", "Edit", null, new { id = item.ID }, new { @class = " glyphicon glyphicon-pencil btn btn-default", @title = "Edit Product" })
                @Html.ActionLink("", "Details", null, new { id = item.ID }, new { @class = " glyphicon glyphicon-list-alt btn btn-default", @title = "Details Product" })
                @Html.ActionLink("", "Delete", null, new { id = item.ID }, new { @class = " glyphicon glyphicon-trash btn btn-default", @title = "Delete Product" })
            </td>
        </tr>
    }

</table>
