@model ProductsStore.Models.Product
<div class="container">
    
    @*<div runat="server" id="Message" Visible="False" class="alert alert-success" role="alert">Product added to cart succefully</div>*@
    <h1 class="page-header">
        Product Details
    </h1>
    <div class="row">
        <div class="col-md-12 center-block">
            <div class="col-md-offset-3 col-md-4">
                @if (!Globals.isUserConnected(Context.Session))
                {
                    <div class="alert alert-danger" role="alert">You are not logged in, to add product to cart please login first</div>

                }
                <div class="thumbnail">
                    <h4 class="text-center">
                        <span class="label label-info" runat="server" id="TitleText"></span>
                    </h4>
                    <img class="img-responsive" src="@Html.DisplayFor(model=> model.image)" style="width:80px;height:200px" />
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>
                                    @Html.DisplayFor(model => model.name)
                                </h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label>
                                        @Html.DisplayFor(model => model.price)
                                    </label>$
                                </h3>
                            </div>
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.description)
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="button">
                                    @if (!Globals.isUserConnected(Context.Session))
                                    {
                                       <button class="form-control btn btn-striped" style="background-color:#bdeec4" disabled>Add to cart</button>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Add to cart", "AddToCart", "Products", new { id = Model.ID }, new { @class = "btn btn-success form-control" })
                                    }
                                    
                                </p>
                                @*<asp:Button ID="BtnAddToCart" CssClass="btn btn-success" runat="server"
                                    Text="Add to cart" onclick="BtnAddToCart_Click" />*@

                            </div>
                        </div>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>