@model ProductsStore.Models.PreferProduct
<div class="container-fluid">


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2><label class="label label-info"><b>Product That you want</b></label></h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="center-block">
                <div class="col-md-offset-3 col-md-4">
                    @if (!Globals.isUserConnected(Context.Session))
                    {
                        <div class="alert alert-danger" role="alert">You are not logged in, to add product to cart please login first</div>

                    }
                    <div class="thumbnail">
                        <h4 class="text-center">
                            <span class="label label-info" runat="server" id="TitleText"></span>
                        </h4>
                        <img class="img-responsive" src="@Html.DisplayFor(model=> model.ChoosedProduct.image)" style="width:100px;height:150px" />
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <h3>
                                        @Html.DisplayFor(model => model.ChoosedProduct.name)
                                    </h3>
                                </div>
                                <div class="col-md-6 col-xs-6 price">
                                    <h3>
                                        <label>
                                            @Html.DisplayFor(model => model.ChoosedProduct.price)
                                        </label>$
                                    </h3>
                                </div>
                            </div>
                            <p>
                                @Html.DisplayFor(model => model.ChoosedProduct.description)
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="button">
                                        @if (!Globals.isUserConnected(Context.Session))
                                        {
                                            <button class="form-control btn btn-striped" style="background-color:#bdeec4" disabled>Add to cart</button>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Add to cart", "AddToCart", "Products", new { id = Model.ChoosedProduct.ID }, new { @class = "btn btn-success form-control" })
                                        }

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-md-offset-0 col-md-4"></div>
        <div class="col-md-4">
            <h2><label class="label label-info"><b>Frequently bought together</b></label></h2>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-4"></div>

        <div class="col-4">
            <div class="center-block">
                <div class="col-md-offset-3 col-md-4">
                    @if (!Globals.isUserConnected(Context.Session))
                    {
                        <div class="alert alert-danger" role="alert">You are not logged in, to add product to cart please login first</div>
                    }
                    <div class="thumbnail">
                        <h4 class="text-center">
                            <span class="label label-info" runat="server" id="TitleText"></span>
                        </h4>
                        <img class="img-responsive" src="@Html.DisplayFor(model=> model.ProdPrefer.image)" style="width:100px;height:150px" />
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <h3>
                                        @Html.DisplayFor(model => model.ProdPrefer.name)
                                    </h3>
                                </div>
                                <div class="col-md-6 col-xs-6 price">
                                    <h3>
                                        <label>
                                            @Html.DisplayFor(model => model.ProdPrefer.price)
                                        </label>$
                                    </h3>
                                </div>
                            </div>
                            <p>
                                @Html.DisplayFor(model => model.ProdPrefer.description)
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="button">
                                        @if (!Globals.isUserConnected(Context.Session))
                                        {
                                            <button class="form-control btn btn-striped" style="background-color:#bdeec4" disabled>Add to cart</button>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Add to cart", "AddToCart", "Products", new { id = Model.ProdPrefer.ID }, new { @class = "btn btn-success form-control" })
                                        }

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>