@model HomeVm;
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="well well-sm">
        <strong>All Products</strong>
        <div class="" style="margin-top: 10px; margin-bottom: 10px;">
            @using (Html.BeginForm("Search", "Home"))
            {
                <div class="form-inline">
                    <div class="form-group">
                        <label>By Name:</label>
                        <input type="text" class="form-control" name="prodName">
                    </div>
                    <div class="form-group">
                        <label for="pwd">minimum Price:</label>
                        <input type="CountOfProducts" class="form-control" name="txtFromPrice" placeholder="From">
                    </div>
                    <div class="form-group">
                        <label for="pwd">MAX Price:</label>
                        <input type="CountOfProducts" class="form-control" name="txtToPrice" placeholder="From">
                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-warning" style="margin-top: auto;">Search</button>
                    </div>
                </div>
            }
        </div>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list"></span>List
            </a><a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>

    <div id="categories-list" class="row list-group">
        @foreach (var item in Model.Products)
        {
            <div class="item  col-xs-4 col-lg-3 hvr-float-shadow">
                <div class="thumbnail">
                    <div class="group list-group-image product-img" style="background-image: url('@Html.DisplayFor(modelItem => item.image)')"></div>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            <label>Name:</label>
                            @Html.DisplayFor(modelItem => item.name)
                        </h4>
                        <p class="group inner list-group-item-text">
                            <label>Description:</label>@Html.DisplayFor(modelItem => item.description)
                        </p>
                        <p class="group inner list-group-item-text">
                            <label>Price:</label>$@Html.DisplayFor(modelItem => item.price)
                        </p>
                        <div class="row">
                            @*<div class="col-xs-12">
                                    <label>Price:</label><p class="lead">
                                        $@Html.DisplayFor(modelItem => item.price)
                                    </p>
                                </div>
                            *@
                            <div class="col-xs-12">
                                @Html.ActionLink("Add to cart", "ProductDetails", "Products", new { id = item.ID }, new { @class = "btn btn-primary form-control hvr-pulse" })
                                @*<a class="btn btn-success" href="/somecontroller/someaction/123">Add to cart</>*@
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
    <hr />
    <h3 class="page-header">We thought this product was right for you:</h3>
    <div style="width: 300px; margin: 0 auto;">
        <div class="thumbnail">
            <div class="group list-group-image product-img" id="msImage"></div>
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    <label>Name:</label><label id="msName"></label>
                </h4>
                <p class="group inner list-group-item-text">
                    <label>Description:</label><label id="msDescription"></label>
                </p>
                <p class="group inner list-group-item-text">
                    <label>Price:</label>$<label id="msPrice"></label>
                </p>

            </div>
        </div>
    </div>
    <div id="slikCaroucel" style="width: 80%; margin: 0 auto">
        @foreach (var item in Model.Products)
        {
            <img src="@Html.DisplayFor(modelItem => item.image)" />
        }
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#categories-list .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#categories-list .item').removeClass('list-group-item'); $('#categories-list .item').addClass('grid-group-item'); });

            $.ajax({
                url: "/Home/GetTopSaleProduct",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                success: function (data, textStatus, jqXHR) {
                    var product = data;
                    $('#msImage').css('background-image', 'url(' + product.image + ')');
                    $('#msName').text(product.name);
                    $('#msPrice').text(product.price);
                    $('#msDescription').text(product.description);
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
        });
    </script>
}
@section Styles {

    <style>
        .glyphicon {
            margin-right: 5px;
        }

        .thumbnail {
            margin-bottom: 20px;
            padding: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        .item.list-group-item {
            float: none;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
        }

            .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
                background: #428bca;
            }

            .item.list-group-item .list-group-image {
                margin-right: 10px;
            }

            .item.list-group-item .thumbnail {
                margin-bottom: 0px;
            }

            .item.list-group-item .caption {
                padding: 9px 9px 0px 9px;
            }

            .item.list-group-item:nth-of-type(odd) {
                background: #eeeeee;
            }

            .item.list-group-item:before, .item.list-group-item:after {
                display: table;
                content: " ";
            }

            .item.list-group-item img {
                float: left;
            }

            .item.list-group-item:after {
                clear: both;
            }

        .list-group-item-text {
            margin: 0 0 11px;
        }

        .product-img {
            height: 200px;
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
            background-position: center top;
        }
    </style>
}