@model IEnumerable<ProductsStore.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<div class="" style="margin-top:10px;margin-bottom:10px;">
    @using (Html.BeginForm("Search", "Orders"))
            {
        <div class="form-inline">
            <div class="form-group">
                <label>By User first or last name:</label>
                <input type="text" class="form-control" name="txtName">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-warning" style="margin-top:25px;">Search</button>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditCardNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creditCardNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

