@model IEnumerable<ProductsStore.Models.ShowOrderView>



@{
    ViewBag.Title = "Index";
}

<h2 style="color:#245980"><b>Orders List Of The Store</b></h2>

@section Styles{

    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
}

<div style="margin-top:40px;margin-bottom:20px;">
    @using (Html.BeginForm("Search", "Orders", FormMethod.Post, new { id = "formSearch" }))
    {
        <div class="form-inline">
            <div class="form-group">
                <label>By User first or last name:</label>
                <input type="text" class="form-control" name="txtName">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-striped" style="background-color:#bdeec4;">Search</button>
            </div>
        </div>
    }
</div>
<p>

    @*@Html.ActionLink(" ", "Create", null, null, new { @class = "glyphicon glyphicon-plus btn btn-striped" })*@
</p>
<table class="table table-hover table-striped">
    <tr style="background-color:#84acc9;">
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model._order.User.firstName)
        </th>
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model._order.orderDate)
        </th>
        <th style="width:20%;">
            @Html.DisplayNameFor(model => model._order.creditCardNum)
        </th>
        <th style="width:20%;">
            Products Orders
        </th>
        <th style="width:20%;">Operations</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:20%;">
                @Html.DisplayFor(modelItem => item._order.User.firstName)
            </td>
            <td style="width:20%;">
                @Html.DisplayFor(modelItem => item._order.orderDate)
            </td>
            <td style="width:20%;">
                @Html.DisplayFor(modelItem => item._order.creditCardNum)
            </td>
            <td style="width:20%;">
                <div class="dropdown">
                    <button type="button" style="background-color:#bdeec4;" class="btn btn-striped dropdown-toggle" data-toggle="dropdown">
                        Products
                    </button>
                    <div class="dropdown-content">
                        @foreach (var product in item.products)
                        {
                            <p>
                                <a class="dropdown-item" asp-controller="Products" asp-action="Details" asp-route-id="@product.ID">@product.name</a>
                            </p>
                        }
                    </div>
                </div>

            </td>
            <td style="width:20%;">
                @Html.ActionLink("", "Edit", null, new { id = item._order.ID }, new { @class = " glyphicon glyphicon-pencil btn btn-default", @title = "Edit Order" })
                @Html.ActionLink("", "Details", null, new { id = item._order.ID }, new { @class = " glyphicon glyphicon-list-alt btn btn-default", @title = "Details Order" })
                @Html.ActionLink("", "Delete", null, new { id = item._order.ID }, new { @class = " glyphicon glyphicon-trash btn btn-default", @title = "Delete Order" })
            </td>
        </tr>
    }

</table>