@model IEnumerable<ProductsStore.Models.ShowOrderView>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<div class="" style="margin-top:10px;margin-bottom:10px;">
    @using (Html.BeginForm("Search", "Orders"))
            {
        <div class="form-inline">
            <div class="form-group">
                <label>By User first or last name:</label>
                <input type="text" class="form-control" name="txtName">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-warning">Search</button>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._order.User.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._order.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._order.creditCardNum)
        </th>
        <th>
            Products Orders
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._order.User.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._order.orderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._order.creditCardNum)
            </td>
            <td>
                <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                מוצרים
            </button>
            <div class="dropdown-menu">
                @foreach (var product in item.products)
                {
                    <a class="dropdown-item" asp-controller="Products" asp-action="Details" asp-route-id="@product.ID">@product.name</a>

                }
            </div>
        </div>
 
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item._order.ID }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item._order.ID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item._order.ID })
            </td>
        </tr>
    }

</table>