@model IEnumerable<ProductsStore.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:#245980"><b>Address Store</b></h2>

<p>
    @Html.ActionLink(" ", "Create", null, null, new { @class = "glyphicon glyphicon-plus btn btn-primary", @title = "Add Address To Net Store" })
</p>
<table class="table table-hover table-striped">
    <tr style="background-color:#84acc9;">
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
        </tr>
    }

</table>

<div id="map"></div>



@section Styles  {
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
}
@section Scripts {
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: 32.344, lng: 34.036 };
            // The map, centered at Uluru
            Window.map = new google.maps.Map(
                document.getElementById('map'), { zoom: 7, center: uluru });
            // The marker, positioned at Uluru
            //var marker = new google.maps.Marker({ position: uluru, map: Window.map });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHzTT4kjY8Rnl5pLF-MPb0VefwnrBI2dE&callback=initMap"></script>

    <script>
        $.ajax({
            url: "/Home/GetAddress",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {},
            success: function (data, textStatus, jqXHR) {
                var lis_marker = new Array();
                for (var i = 0; i < data.length; i++) {
                    //var marker = new google.maps.Marker({ position: { lat: data[i].lat, lng: data[i].lng }, map: Window.map });


                    lis_marker[i] = new google.maps.Marker({
                        map: Window.map,
                        position: new google.maps.LatLng(data[i].lat, data[i].lng),
                        title: 'Marker'
                    });
                }
                



            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });


    </script>
}